
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Nome">Nome:</label>
            <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Sobrenome">Sobrenome:</label>
            <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="50">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="CPF">CPF:</label>
            <input required="required" type="text" class="form-control" id="CPF" name="CPF" data-mask="000.000.000-00" pattern="\d{3}\.\d{3}.\d{3}-\d{2}" placeholder="Digite no formato 999.999.999-99" maxlength="14">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Nacionalidade">Nacionalidade:</label>
            <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="CEP">CEP:</label>
            <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="Estado">Estado:</label>
            <select required="required" id="Estado" class="form-control" name="Estado">
                <option value="">Selecione</option>
                <option value="SP">São Paulo</option>
                <option value="PE">Pernambuco</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="Cidade">Cidade:</label>
            <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="Logradouro">Logradouro:</label>
            <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Email">E-mail:</label>
            <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Telefone">Telefone:</label>
            <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
        </div>
    </div>
</div>

