@model IEnumerable<FuncaoSistemas_FM.Models.ClienteModel>

@{
    ViewBag.Title = "Clientes";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

@Html.ActionLink("Novo Cliente", "Incluir", "Cliente", new { }, new { @class = "btn btn-sm btn-primary pull-right" })

<table id="gridClientes" class="table"></table>
